[submodule "100-exercises-to-learn-rust"]
	path = 100-exercises-to-learn-rust
	url = https://github.com/jschoone/100-exercises-to-learn-rust
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/jschoone/rustlings
